PORT=3000
DB_CONFIG=postgres://user:password@localhost:5432/simple_url_shortener
API_KEY=your_secure_api_key
DOMAIN=http://localhost:3000
GITHUB_REPO=https://github.com/necrolingus/simple_url_shortener
COOKIE_VALID_DAYS=10
RATE_LIMIT=5
RATE_LIMIT_WINDOW=in_seconds