PORT=3000
DB_CONFIG=postgres://user:password@localhost:5432/simple_url_shortener
DOMAIN=http://localhost:3000
GITHUB_REPO=https://github.com/necrolingus/simple_url_shortener
COOKIE_VALID_DAYS=30
RATE_LIMIT=15
RATE_LIMIT_WINDOW=60
COOKIE_SECRET=your_long_random_cookie_signing_secret
RECOVERY_RATE_LIMIT=5
RECOVERY_RATE_LIMIT_WINDOW=900
NUMBER_OF_PROXIES=2