<h1>Login</h1>
<form id="loginForm">
    <input type="password" id="apiKey" name="apiKey" placeholder="Enter your API key" required autofocus>
    <button type="submit" id="loginBtn">Login</button>
    <!-- <div class="repo-link">
        <a href="{{githubRepo}}" target="_blank">Clone this repo</a>
    </div> -->
</form>
<div id="loginError" class="error-message"></div>